<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kkp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.KKP"
        tools:targetApi="31">

        <!-- Halaman awal (launcher) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.KKP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Dashboard setelah login -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

        <!-- Halaman Asset -->
        <activity
            android:name=".AssetActivity"
            android:exported="false" />

        <!-- Halaman Rental -->
        <activity
            android:name=".RentalActivity"
            android:exported="false" />


        <activity
        android:name=".ProfileActivity" />


        <!-- Metadata preloaded fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
